<div class="container">
  <header>
    <h1>My Groups</h1>
  </header>

  <div>
    <% @groups.each do |group| %>
      <div class="box panel panel-default">
        <%= link_to group.name, group %> <br>
        <%= link_to image_tag(group.image.url(:medium)), group %>
      </div>
    <% end %>
  </div>
</div>
