<header>
  <h1><%= @user.name %></h1>
</header>

<% if current_user?(@user) %>
  <%= link_to 'Add New Photo', new_photo_path %>
<% end %>
<div>
  <% @photos.each do |photo| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(photo.image.url(:medium)), photo %>
    </div>
  <% end %>
</div>

