<div class="container">
  <header>
    <h1><%= @user.name %></h1>
    <%= image_tag(@user.image.url(:thumb)) %>
  </header>
  <br>

  <% if current_user?(@user) %>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "My Groups", groups_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>

