<div class="container">
  <header>
    <h1><%= @album.name %></h1>
  </header>
  <br>

  <div>
    <%= link_to "Add New Photo", new_group_album_photo_path(@group, @album), class: "btn btn-default" %>
  </div>

  <div>
    <!-- Iterate Through photos and display them here!! -->
    <% @photos.each do |photo| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(photo.image.url(:medium)), group_album_photo_path(@group, @album, photo) %>
      </div>
    <% end %>
  </div>

  <br>
  <% if album_creator?(@album, current_user) %>
    <%= link_to "Delete Album", group_album_path(@group, @album), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>

</div>