<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Pix", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Sign In', '#' %></li>
        <li><%= link_to 'Sign Up', signup_path %></li>
      </ul>
    </nav>
  </div>
</header>